.git
.gitignore
README.md
Dockerfile
.dockerignore
node_modules
npm-debug.log
vendor
.env
.env.example
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.phpunit.result.cache
tests
.DS_Store
Thumbs.db